node_modules
.flowconfig
build/
remote-repo/
coverage/
fixtures/dom/public/react-dom.js
fixtures/dom/public/react.js
test/the-files-to-test.generated.js
*.log*
.idea
*.iml
.vscode
*.swp
*.swo